<div class="home-section-head">
  <div class="home-section-head__text">
    <h2 class="home-section-head__title">{{ titleKey() | translate }}</h2>
    @if (subtitleKey()) {
      <p class="home-section-head__subtitle">{{ subtitleKey()! | translate }}</p>
    }
  </div>
  @if (viewAllRoute()) {
    <a
      class="home-section-head__link"
      [routerLink]="viewAllRoute()!"
      [queryParams]="viewAllQuery()"
    >
      {{ viewAllLabelKey() | translate }}
      <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
    </a>
  }
</div>
